.bmi-calculator-body {
	background: var(--background-light);
	color: var(--text-dark);

	height: 20rem;
	width: 20rem;
	padding: 1rem;

	border-radius: 20px;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 65% 1fr;
	gap: 1rem;

	align-self: flex-end;
	justify-self: center;

	& h2 {
		margin: 0.25rem;
		font-size: 1.5rem;
	}

	& > .bmi-calculator-wrapper {
		width: 100%;
		
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
		gap: 1.25rem;

		
		& > .bmi-calculator {
			width: 100%;
			
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			gap: 0.75rem;

		
			& > .bmi-label {
				width: 65%;
				font-size: 1.25rem;

				display: flex;
				justify-content: space-between;
				align-items: center;

				& > .bmi-field {
					margin-left: auto;
				}
			}
		}
	}
}