.login-block-wrapper {
	width: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	& .login-form-wrapper {
		width: 15rem;

		display: flex;
		flex-direction: column;
		gap: 1rem;

		& > .login-form {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			& > input {
				width: 100%;
				height: 2rem;
				font-size: 1rem;
			}

		}
	}


	& .login-tips {
		margin-block-start: 2rem;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}
}