:root {
	--text-light: #eee;
	--text-dark: #333;
	--background-dark: #333;
	--background-light: #eee;

	--medical-theme-color-details: #85DCB8;
	--medical-theme-color-light: #66d77d;
	--medical-theme-color-medium: #52cd69;
	--medical-theme-color-dark: #34c752;

	--header-item-hover: #58d472;
	--header-item-active: #34c752;

	--header-item-hover-light: #ffffff;
	--header-item-active-light: #d9d9d9;

	--button-color: #52cd69;
	--button-color-hover: #66d77d;
	--button-color-active: #34c752;

	--button-color-light: #eee;
	--button-color-light-hover: #ffffff;
	--button-color-light-active: #d9d9d9;

	--link-color: #fff18b;
	--link-color-hover: #fff;
	--link-color-active: #ffe837;

	--medical-theme-link-color: #52cd69;
	--medical-theme-link-color-hover: #66d77d;
	--medical-theme-link-color-active: #34c752;
}