.page-header {
	background: var(--background-light);

	position: relative;

	height: 9.5rem;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	z-index: 1;

	& > .page-header__content-wrapper {
		width: 100%;
		margin: 3.5rem;

		display: grid;
		grid-template-columns: 3.5rem 1fr;
		grid-template-rows: 3.5rem auto;
		column-gap: 1.5rem;
		row-gap: 0.75rem;

		&>.page-header__logo {
			height: 100%;
			width: 100%;

			margin-inline-start: 0.5rem;

			grid-column: 1 / 2;
			grid-row: 1 / 2;

			display: flex;
			justify-content: center;
			align-items: center;

			&>.page-header__logo__image-wrapper {
				height: 100%;
				width: 100%;

				display: flex;
				justify-content: center;
				align-items: center;

				&>.page-header__logo__image {
					max-height: 100%;
					max-width: 100%;
					object-fit: contain;
				}
			}
		}

		&>.page-header__title {
			height: 100%;
			width: 100%;

			font-size: 2.25rem;
			
			margin: 0;
			
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		&>.header-navigation {
			background: var(--background-dark);

			height: 3rem;

			font-size: 1.2rem;

			grid-column: 1 / 3;
			grid-row: 2 / 3;

			display: flex;
			justify-content: flex-start;
			align-items: stretch;

			& .header-navigation__list {
				list-style: none;

				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;

				display: flex;
				justify-content: flex-start;
				align-items: stretch;
			}

			& .header-navigation__item {
				--color: var(--text-light);
				color: var(--color);
					
				position: relative;
				min-width: 6rem;

				display: flex;
				justify-content: center;
				align-items: center;

				transition: background 0.1s ease-in-out;

				&:hover {
					background: var(--header-item-hover);
				}

				&:active {
					background: var(--header-item-active);
				}

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: -1px;
					transform: translateY(-50%);
					width: 2px;
					height: 50%;
					background: var(--medical-theme-color-light);
				}
				&:first-child::before {
					background: transparent;
				}
			}

			& .header-navigation__link {
				text-decoration: none;
				color: var(--color);
				
				&:hover {
					color: inherit;
				}

				&:active {
					color: inherit;
				}

				&:visited {
					color: inherit;
				}
			}

			& .header-navigation__sub-title, & .header-navigation__link {
				padding: 0.5rem 1rem;

				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}