@import './colors.css';
@import './root-styles.css';
@import './header-styles.css';
@import './main-styles.css';
@import './footer-styles.css';

@import './elements/button.css';
@import './elements/dropdown.css';
@import './elements/table.css';
@import './elements/bmi-calculator.css';
@import './elements/login-register.css';
@import './elements/error.css';