.page-main {
	background: var(--medical-theme-color-medium);

	position: relative;
	
	width: 100%;
	padding: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;

	& > .page-main__content {
		width: 35rem;

		font-size: 1.25rem;
	}

	& > .page-main__sidebar {
		position: absolute;
		top: 2rem;
		left: calc(50% + 20rem + 2rem);
		width: 24rem;
		height: calc(100% - 4rem);
		display: grid;
	}
}